* {
  outline: 2px solid red;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.card-details {
  background-color: blue;
  flex: 1;
}

.preview {
  flex : 1;
}
.header {
  outline: 2px solid white;

}
